[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/NERD_Tree"]
	path = bundle/NERD_Tree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/NERD_commenter"]
	path = bundle/NERD_commenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = git://github.com/sjbach/lusty.git
[submodule "bundle/cocoa"]
	path = bundle/cocoa
	url = git://github.com/msanders/cocoa.vim.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-kalisi"]
	path = bundle/vim-kalisi
	url = git@github.com:freeo/vim-kalisi.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "bundle/compview"]
	path = bundle/compview
	url = git@github.com:vim-scripts/compview.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "bundle/YankRing.vim"]
	path = bundle/YankRing.vim
	url = git@github.com:vim-scripts/YankRing.vim.git
